datasets/tinyface_path.txt
model.onnx*
model.plan
__pycache__/
wandb/
tinyface-timm/
timm_models.txt
timm_pretrained_models.txt
model_info/
timm_analysis.*
timm_layers.py
exp_timm_models.txt
tinyface_sizes.py
multirun.sh
sweep*.log
param_count_analysis.txt
parameters_by_block.py
test.sh
.ignore/
.github/
.vscode/
*.log